.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background: rgb(245, 225, 218);
  background: linear-gradient(
    90deg,
    rgb(254, 239, 233) 0%,
    rgb(253, 249, 249) 100%
  );
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
h1 {
  color: #276351;
  margin: 30px 0 10px 0;
  line-height: 29px;
  font-size: 20px;
  line-height: 48px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 600;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #b0b8b4;
}
li::first-letter {
  text-transform: capitalize;
}
.owerview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #476268;
  font-size: 40px;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
#button {
  background-color: #7fa99b;
  border: none;
}
#humidity {
  color: #d56445;
}
#percent {
  color: #d56445;
}
#km {
  color: #d56445;
}
#wind {
  color: #d56445;
}
.link a {
  color: #72988c;
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
}
.link {
  text-align: center;
  display: block;
  margin-top: 40px;
}
#city-input {
  border: none;
}
#fahrenheit-link {
  color: #d56445;
  text-decoration: none;
}
#celsius-link {
  color: #395d65;
  text-decoration: none;
}
.weather-forecast {
  margin-bottom: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #72988c;
  font-weight: bold;
}
.weather-forecast-temperatures {
  color: #b0b8b4;
  font-size: 13px;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
